.searchInput {
  
  padding: 5px 5px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10%;
  font-size: 16px;
  background-color: white;
  transition: 0.3s;
}

.searchInput:focus {
  border-color: #0070f3;
  outline: none;
}


.container {
  max-width: 1000px;
  padding: 20px;
  border-radius: 50%;
}




.jobList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.jobCard {
  background-color: #fffcfc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.jobLogoContainer {
  margin-right: 20px;
  max-width: 100px;
}

.jobLogo {
  max-width: 100%;
  height: auto;
}

.jobInfo {
  flex-grow: 1;
}

.jobHeader {
  margin: 0;
  display: flex;
  align-items: baseline;
}

.jobTitle {
  margin: 0;
  margin-right: 10px;
  font-size: 25px;
}

.jobCompany {
  margin: 0;
  color: #a0a0a0;
  font-size: 16px;
  }

.jobDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .jobSalary {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    color: rgb(6, 209, 6);
    }

.jobCity {
  margin: 0;
  color: #808582;
  font-size: 16px;
}

